<div class="container">

  <!-- Header & routes-->
  <p>
      <mat-toolbar color="primary">
          <span>Expenses Management</span>
          <button mat-button aria-label="dashboard" [routerLink]="['/dashboard']">
              <mat-icon>home</mat-icon>
              Home
          </button>
          <button mat-button aria-label="List icon" [routerLink]="['/persons']">
              <mat-icon>list</mat-icon>
              List
          </button>
          <button mat-button aria-label="Settings icon" [routerLink]="['/intro-obs']">
            <mat-icon>settings</mat-icon>
            Intro obs
        </button>
      </mat-toolbar>
  </p>

  <router-outlet></router-outlet>
  <app-show-messages></app-show-messages>
</div>